.button{
    background-color: rgb(159, 233, 229);
    line-height: 1.8em;
    border-radius: 7px;
    padding: 2px 10px;
    margin: 8px 0;
    margin-top: 10px;
    margin-left: 80%;
    cursor: pointer;
    transition-duration: 0.4s;
    
}
.button:hover
{   
  background-color: rgba(193, 90, 202, 0.746);

}
.delete{
    background-color: rgb(159, 239, 250);
    line-height: 1.8em;
    border-radius: 7px;
    width: 25%;
    padding: 2px 10px;
    margin: 50px 0px;
    margin-top: 55px;
    margin-left: 70%;
    cursor: pointer;
    transition-duration: 0.4s; 
    border: 1px solid #58257b;
}
.delete:hover
{   
  background-color: rgba(97, 95, 85, 0.781);

}
form{
    width: 15%;
    background-color: #dcdcdc;
    border: cornflowerblue;
    border-radius: 7px;
    margin-top: auto;
    margin-left:80%;
    padding: 15px 7px;
    box-shadow: 2px 2px 20px #0a4657;
    
}
select {
    width: 100%;
    padding: 6px 20px;
    border: none;
    background-color: #f1f1f1;
    border: 1px solid #58257b;
    border-radius: 10px;
    cursor: pointer;
  }
input[type=text] {
    width: 100%;
    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #58257b;
    outline: none;
    border-radius: 7px;
  }
  
input[type=text]:focus {
    background-color: #e9d8f4;
}
